body {
    display: flex;
    justify-content: center;
    background-color: rgb(29, 26, 26);
    color: rgb(205, 205, 205);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin-bottom: 24px;
}

.canvas {
    display: flex;
    width: 640px;
    height: 640px;
    background-color: rgb(205, 205, 205);
    flex-wrap: wrap;
}

.rowDiv {
    display: flex;
    flex-basis: 100%;
}

.sketchCell {
    flex: 1;
    border-top: 1px solid rgb(187, 184, 184);
    border-left: 1px solid rgb(187, 184, 184);
}

.coloredCell {
    background-color: black;
}